body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Arka planı siyah yapar */
}

.container {
  display: flex;
  justify-content: flex-end; /* Sağa yaslama */
  align-items: center;
  height: 100vh;
  padding-right: 50px; /* Daireye sağdan boşluk bırakır */
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px; /* Daireyi sola kaydırır */
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.info {
  text-align: left; /* Metni sola hizalar */
  margin-left: 50px; /* Yazıyı sola kaydırır */
  color: #fff; /* Yazı rengini beyaz yapar */
}

.info h1 {
  margin-bottom: 10px; /* İsim soyisim ile ilgilendiğim teknolojiler arasına biraz boşluk bırakır */
}

.social-icons {
  margin-top: 20px; /* Sosyal medya ikonlarından biraz boşluk bırakır */
}

.social-icons a {
  color: #fff; /* İkon renklerini beyaz yapar */
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #007bff;
}
