@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

/* Genel stil ayarları */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0; /* iç dolguyu sıfırlar */
  margin: 0; /* dış boşluğu sıfırlar */
}

/* Sayfa stil ayarları */
body {
  height: 100vh; /* sayfanın tam boyutunu kaplar */
  width: 100%; /* sayfanın tam genişliğini kaplar */
  position: relative; /* pozisyonunu ayarlar */
  overflow: hidden; /* taşan içeriği gizler */
  font-family: "Montserrat", "sans-serif"; /* yazı tipi belirler */
  background: #00008b; /* sayfa arka plan rengi */
}

/* Sayfa arka planının gölgelenmiş kısmı */
body::before,
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 15rem; /* çemberin genişliği */
  aspect-ratio: 1/1;
  filter: blur(50px); /* bulanıklaştırma efekti */
  background: #4682b4; /* gölgelenmiş kısım rengi */
}

/* Sayfa arka planının gölgelenmiş kısmı */
body::before {
  top: -5rem; /* üst konumu ayarlar */
  left: -5rem; /* sol konumu ayarlar */
}

/* Sayfa arka planının gölgelenmiş kısmı */
body::after {
  top: unset; /* üst konumu sıfırlar */
  left: unset; /* sol konumu sıfırlar */
  bottom: -5rem; /* alt konumu ayarlar */
  right: -5rem; /* sağ konumu ayarlar */
}

/* Sayfa başlığı stil ayarları */
header {
  position: fixed; /* sabit konumu ayarlar */
  top: 0; /* üst konumu ayarlar */
  width: 100%; /* genişliği 100% yapar */
  padding-top: 1rem; /* üst dolguyu ayarlar */
  padding-inline: 15%; /* yatay dolguyu ayarlar */
  display: flex; /* dikey olarak hizalar */
  align-items: center; /* dikey hizalamayı ayarlar */
  justify-content: space-between; /* aralarındaki boşluğu ayarlar */
  z-index: 1; /* sıralamasını belirler */
}

/* Başlık metni stil ayarları */
header p {
  margin-top: 10px; /* üst boşluğu ayarlar */
  color: #fff; /* metin rengini belirler */
}

/* Sayfa başlık resmi stil ayarları */
header img {
  width: 5rem; /* genişliği ayarlar */
}

/* Navigasyon menüsü stil ayarları */
header nav {
  display: flex; /* dikey olarak hizalar */
  gap: 0.5rem; /* aralığı belirler */
  justify-content: space-between; /* aralarındaki boşluğu ayarlar */
  align-items: center; /* dikey hizalamayı ayarlar */
}

/* Navigasyon menü bağlantılarının stil ayarları */
header nav a {
  text-decoration: none; /* metin altını kesmez */
  color: inherit; /* metin rengini miras alır */
  font-size: 0.9rem; /* yazı tipi boyutunu ayarlar */
  text-transform: capitalize; /* metin dönüştürmeyi ayarlar */
  border-radius: 100vw; /* kenar yarıçapını ayarlar */
  padding: 0.5rem 1rem; /* dolguyu ayarlar */
  color: #ffffff; /* metin rengini belirler */
  transition: 0.3s ease; /* geçiş efektini ayarlar */
}

/* Navigasyon menü bağlantılarının hover durumunda stil ayarları */
header nav a:hover,
.active {
  background: #4682b4; /* arka plan rengini belirler */
}

/* Navigasyon menü dışındaki noktaların stil ayarları */
.dots {
  position: absolute; /* pozisyonunu ayarlar */
  top: 0; /* üst konumu ayarlar */
  right: 0; /* sağ konumu ayarlar */
  width: 8rem; /* genişliği ayarlar */
}

/* Sol taraftaki noktaların stil ayarları */
.leftdots {
  top: unset; /* üst konumu sıfırlar */
  right: unset; /* sağ konumu sıfırlar */
  bottom: 0; /* alt konumu ayarlar */
  left: 0; /* sol konumu ayarlar */
}

/* Yan menü stil ayarları */
.side {
  height: 100vh; /* tam boy yüksekliği ayarlar */
  position: absolute; /* pozisyonunu ayarlar */
  top: 0; /* üst konumu ayarlar */
  display: flex; /* dikey olarak hizalar */
  flex-direction: column; /* sıralamasını ayarlar */
  justify-content: space-around; /* aralarındaki boşluğu ayarlar */
  align-items: center; /* dikey hizalamayı ayarlar */
}

/* Yan menü metin stil ayarları */
.side p {
  transform: rotate(90deg); /* döndürme efektini ayarlar */
  margin-block: 2rem; /* dikey boşluğu ayarlar */
}

/* Ok resmi stil ayarları */
.arrow {
  width: 2rem; /* genişliği ayarlar */
  animation: updown 1s linear infinite alternate; /* animasyonu belirler */
}

/* Yukarı ve aşağı animasyon stil ayarları */
@keyframes updown {
  100% {
    transform: translateY(1rem); /* dönüşümü ayarlar */
  }
}

/* Dönme animasyon stil ayarları */
@keyframes rotation {
  from {
    transform: rotate(0deg); /* dönüşümü ayarlar */
  }
  to {
    transform: rotate(359deg); /* dönüşümü ayarlar */
  }
}

/* Görüntü değişim animasyon stil ayarları */
@keyframes troca1 {
  100% {
    opacity: 100%; /* opaklığı ayarlar */
  }
  20% {
    opacity: 0%; /* opaklığı ayarlar */
  }
  0% {
    opacity: 0%; /* opaklığı ayarlar */
  }
}

/* Görüntü değişim animasyon stil ayarları */
@keyframes troca2 {
  100% {
    opacity: 0%; /* opaklığı ayarlar */
  }
  20% {
    opacity: 100%; /* opaklığı ayarlar */
  }
  0% {
    opacity: 100%; /* opaklığı ayarlar */
  }
}

/* İlk görüntü stil ayarları */
.img1 {
  position: absolute; /* pozisyonunu ayarlar */
  width: 33rem; /* genişliği ayarlar */
  bottom: 0; /* alt konumu ayarlar */
  right: 3rem; /* sağ konumu ayarlar */
  z-index: -1; /* sıralamasını belirler */
  animation: troca1 15s linear infinite alternate; /* animasyonu belirler */
}

/* Ana görüntü stil ayarları */
.mainImg {
  position: absolute; /* pozisyonunu ayarlar */
  width: 45rem; /* genişliği ayarlar */
  bottom: 0; /* alt konumu ayarlar */
  right: -3rem; /* sağ konumu ayarlar */
  z-index: -1; /* sıralamasını belirler */
  animation: troca2 15s linear infinite alternate; /* animasyonu belirler */
}

/* Sosyal medya ikonları stil ayarları */
.socialIcon {
  display: flex; /* dikey olarak hizalar */
  flex-direction: column; /* sıralamasını ayarlar */
  gap: 1rem; /* aralığı belirler */
}

/* Sosyal medya ikonlarının stil ayarları */
.socialIcon ion-icon {
  background: #fff; /* arka plan rengini belirler */
  color: #4682b4; /* metin rengini belirler */
  padding: 0.3rem; /* dolguyu ayarlar */
  font-size: 1.2rem; /* yazı tipi boyutunu ayarlar */
  border-radius: 50%; /* kenar yarıçapını ayarlar */
  cursor: pointer; /* imleci ayarlar */
  transition: 0.3s ease; /* geçiş efektini ayarlar */
}

/* Sosyal medya ikonlarının hover durumunda stil ayarları */
.socialIcon ion-icon:hover {
  background: #4682b4; /* arka plan rengini belirler */
  color: #fff; /* metin rengini belirler */
}

/* İçerik bölümü stil ayarları */
section {
  position: absolute; /* pozisyonunu ayarlar */
  inset: 0; /* iç konumu ayarlar */
  display: flex; /* dikey olarak hizalar */
  align-items: center; /* dikey hizalamayı ayarlar */
}

/* İçerik bölümü metin stil ayarları */
section .side p {
  color: #ffffff; /* metin rengini belirler */
}

/* İçerik bölümü içerik stil ayarları */
section .content {
  padding-left: 10%; /* sol dolguyu ayarlar */
}

/* İçerik başlık metin stil ayarları */
section .content h1 {
  font-size: 5rem; /* yazı tipi boyutunu ayarlar */
  text-transform: uppercase; /* metni büyük harfe dönüştürür */
  position: relative; /* pozisyonunu ayarlar */
  color: #ffffff; /* metin rengini belirler */
}

/* İçerik başlık öncesi ve sonrası metin stil ayarları */
section .content h1:before,
section .content h1:after {
  content: "";
  position: absolute; /* pozisyonunu ayarlar */
  background: url("img/estrela.png") center center / cover; /* arka plan resmini belirler */
  animation: rotation 4s infinite linear; /* animasyonu belirler */
  width: 4rem; /* genişliği ayarlar */
  aspect-ratio: 1/1;
  top: 3rem; /* üst konumu ayarlar */
  z-index: -1; /* sıralamasını belirler */
  opacity: 80%; /* opaklığı ayarlar */
}

/* İçerik başlık sonrası metin stil ayarları */
section .content h1:after {
  top: unset; /* üst konumu sıfırlar */
  bottom: -2rem; /* alt konumu ayarlar */
}

/* Buton grubu stil ayarları */
.buttonholder {
  display: flex; /* dikey olarak hizalar */
  gap: 1rem; /* aralığı belirler */
  margin-bottom: 1rem; /* alt dolguyu ayarlar */
}

/* Buton stil ayarları */
.buttonholder button {
  background: transparent; /* arka planı saydam yapar */
  color: #fff; /* metin rengini belirler */
  border-radius: 100vw; /* kenar yarıçapını ayarlar */
  border: 2px solid #4682b4; /* kenar çizgisini belirler */
  padding: 0.5rem 1.5rem; /* dolguyu ayarlar */
  cursor: pointer; /* imleci ayarlar */
  transition: 0.3s ease; /* geçiş efektini ayarlar */
}

/* Butonun hover durumunda stil ayarları */
.buttonholder button:hover {
  background: #4682b4; /* arka plan rengini belirler */
}

/* İçerik paragraf metin stil ayarları */
section .content p {
  font-size: 0.8rem; /* yazı tipi boyutunu ayarlar */
  width: 70%; /* genişliği ayarlar */
  color: #ffffff; /* metin rengini belirler */
}

/* Yeni haber bülteni metni stil ayarları */
section .content .Newslatter {
  color: #4682b4; /* metin rengini belirler */
}

/* Etiket metni stil ayarları */
label {
  color: #fff; /* metin rengini belirler */
}

/* Form grubu butonu stil ayarları */
.form-group button.cadastro {
  margin-top: 10px; /* üst boşluğu ayarlar */
}

/* Form giriş alanı stil ayarları */
.form-group input.form-control {
  width: 40rem; /* genişliği ayarlar */
}

/* Form buton stil ayarları */
.form-group button {
  padding: 5px; /* dolguyu ayarlar */
  background: transparent; /* arka planı saydam yapar */
  color: #fff; /* metin rengini belirler */
  border-radius: 100vw; /* kenar yarıçapını ayarlar */
  border: 2px solid #4682b4; /* kenar çizgisini belirler */
  padding: 0.5rem 1.5rem; /* dolguyu ayarlar */
  cursor: pointer; /* imleci ayarlar */
  transition: 0.3s ease; /* geçiş efektini ayarlar */
}

/* Form butonun hover durumunda stil ayarları */
.form-group button:hover {
  background: #4682b4; /* arka plan rengini belirler */
}
