/* styles.css */
.container {
  display: flex;
}

.left {
  width: 30%; /* Sol tarafın genişliği */
  position: relative;
}

#image {
  position: absolute;
  bottom: 0;
  animation: bounce 2s infinite alternate; /* Animasyonu ekledik */
}

.social-media {
  margin-top: 20px; /* Sosyal medya ikonlarından resme biraz boşluk bırakmak için */
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px; /* Yerde başladığından 20px yukarı çıkacak */
  }
}
