body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.left {
  width: 200px; /* Sol taraftaki bölümün genişliği */
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #f0f0f0;
}

.right {
  margin-left: 220px; /* Sol taraftaki bölüm ile arasında boşluk */
  padding: 20px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: block;
  margin-bottom: 10px;
}

.projects {
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.projects.fixed {
  position: fixed;
  top: 20px; /* Yukarıda sabit kalsın */
}
